.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.25rem;
  box-shadow: $shadow-main;
  background-color: $white;
  border-radius: 0.5rem;
  // .auth-form__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  // .auth-form__error
  &__error {
    font-size: 0.875rem;
    color: $error;
    text-align: center;
    padding: 0.25rem 0;
    background-color: $error-light;
  }
}

.body-profile-form {
  // .body-profile-form__row
  &__row {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  // .body-profile-form__label
  &__label {
    width: 100%;
    max-width: 10rem;
    font-weight: 500;
    padding-top: 0.75rem;
    padding-right: 1.5rem;
  }
  // .body-profile-form__inp
  &__inp {
    flex: 1 1 auto;
    max-width: 26.25rem;
  }
  // .body-profile-form__button
  &__button {
    width: 100%;
    max-width: 36.25rem;
  }
}
