@import "../../../../assets/styles/variables";

.service-card {
  transition: box-shadow 0.2s ease;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: $shadow-main;
    }
  }
  // .service-card__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $disabled;
    padding-bottom: 0.5rem;
  }
  // .service-card__title
  &__title {
    font-size: 1.125rem;
    font-weight: 600;
  }
  // .service-card__price
  &__price {
    color: $primary;
    font-weight: 500;
  }
  // .service-card__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  // .service-card__description
  &__description {
    flex: 1 1 auto;
    font-size: 0.875rem;
    color: $text-secondary;
  }
  // .service-card__info
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
  // .service-card__duration
  &__duration,
  &__doctor {
    font-size: 0.875rem;
    color: #616161;
  }
  // .service-card__footer
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 0 0.75rem;
    text-align: right;
  }
}
