.title-h1 {
  font-size: 2rem;
  @media (width < 424.98px) {
    font-size: 1.75rem;
  }
}

.title-h2 {
  font-size: 1.75rem;
  @media (width < 424.98px) {
    font-size: 1.5rem;
  }
}

.title-h3 {
  font-size: 1.5rem;
  @media (width < 424.98px) {
    font-size: 1.25rem;
  }
}
