@use "sass:map";
@use "@angular/material" as mat;

@import "../variables";

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #002018,
    20: #00382b,
    25: #004435,
    30: #005140,
    35: #005e4a,
    40: $primary,
    50: #16866d,
    60: #3ca186,
    70: #5abca0,
    80: #77d8ba,
    90: #93f5d6,
    95: #b9ffe6,
    98: #e6fff4,
    99: #f3fff8,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001c3a,
    20: #00315f,
    25: #003c72,
    30: #004786,
    35: #00539a,
    40: #005faf,
    50: #1d78d4,
    60: #4492f0,
    70: #72adff,
    80: #a5c8ff,
    90: #d4e3ff,
    95: #ebf1ff,
    98: #f9f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #464747,
    35: #515353,
    40: #5d5e5f,
    50: #767777,
    60: #909191,
    70: #ababab,
    80: #c6c6c6,
    90: #e3e2e2,
    95: #f1f0f0,
    98: #faf9f9,
    99: #fdfcfc,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0b0b0b,
    6: #101111,
    10: $text-main,
    12: #1f2020,
    17: #2a2a2a,
    20: #303030,
    22: #353434,
    24: #3a3939,
    25: #3c3b3b,
    30: #474746,
    35: #535252,
    40: #5f5e5e,
    50: #787776,
    60: #929090,
    70: #adabaa,
    80: #c8c6c5,
    87: #dcdad9,
    90: #e5e2e1,
    92: #ebe8e7,
    94: #f0edec,
    95: #f3f0ef,
    96: #f6f3f2,
    98: #f5f5f5,
    99: #fffbfb,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #131e1a,
    20: #28332e,
    25: #333e39,
    30: #3e4945,
    35: #495550,
    40: #55615c,
    50: #6e7a74,
    60: #87938e,
    70: #a2aea8,
    80: #bdc9c3,
    90: #d9e5df,
    95: #e7f4ed,
    98: #f0fcf5,
    99: #f3fff8,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: $error,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$custom-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      plain-family: "Roboto",
      brand-family: "Poppins",
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
  )
);

html {
  @include mat.all-component-themes($custom-theme);
}
